@using EventRegistration.Models;
@model Registration

@{
    ViewData["Title"] = "Register for Event";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="bg-dark text-white">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main" class="container mt-5">
        <h2 class="text-center mb-4">Register for Event</h2>

        <form asp-controller="Participant" asp-action="Register">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Your Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Your Phone Number" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Your Email Address" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <input asp-for="EventId" type="hidden" />
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary btn-lg">Register</button>
            </div>
        </form>

    </main>

    <footer class="bg-dark text-white text-center py-3 mt-auto">
        <p>&copy; @DateTime.Now.Year - Experimental Development unit</p>
    </footer>
</body>

</html>
