@{
    ViewData["Title"] = "Login or Register";
}


<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<form asp-controller="Account" asp-action="Login" method="get">
    <ul>
        <li><a href="@Url.Action("Login", "Account")">Login</a></li>
        <li><a href="@Url.Action("Register", "Account")">Register</a></li>
    </ul>
</form>